<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80876018887-7tabjvhvm8r5u1n40pp99n0vrj929clo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80876018887-7tabjvhvm8r5u1n40pp99n0vrj929clo</string>
	<key>API_KEY</key>
	<string>AIzaSyClbIEDalf2HL62HQ-zMblXjDD-9SDfWis</string>
	<key>GCM_SENDER_ID</key>
	<string>80876018887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desertsign.app</string>
	<key>PROJECT_ID</key>
	<string>desert-sign-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>desert-sign-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80876018887:ios:a6ef19a0a0d42c134232e2</string>
</dict>
</plist>